.container {
  padding: 50px 30px;
  display: flex;
}

.item {
  flex: 1;
}

.table {
  width: 100%;
  border-spacing: 20px;
  text-align: left;
}

.trTitle {
  text-transform: capitalize;
}

.button {
  border: none;
  outline: none;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.button:first-child {
  background: teal;
  margin-right: 10px;
}

.button:nth-child(2) {
  background: crimson;
}
